<nav class="navbar navbar-expand navbar-dark flex-column flex-md-row">
  <h1 class="navbar-brand d-md-none m-auto" [innerText]="title"></h1>
  <ul class="navbar-nav flex-row justify-content-around">
    <li class="nav-item"><a class="nav-link" href="#" routerLink="/home" id="home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="#" routerLink="/competenties" routerLinkActive="active"
                            id="competenties">Competenties</a></li>
    <li class="nav-item"><a class="nav-link" href="#" routerLink="/contact" routerLinkActive="active"
                            id="contact">Contact</a></li>
  </ul>
</nav>
