<div id="footer">
  <div id="left_footer">
    <h2>Nick<span>Beauson</span></h2>
  </div>
  <div id="mid_footer">
    <div class="footer_icon_text">
      <img src="assets\images\iconfinder_Location.png" alt="Location">
      <p>Leuven, belgië</p>
    </div>
    <div class="footer_icon_text">
      <img src="assets\images\iconfinder_Telephone.png" alt="Phone">
      <p>(+32)475356839</p>
    </div>
    <div class="footer_icon_text">
      <img src="assets\images\iconfinder_Email.png" alt="Email">
      <p><a href="mailto:beausonnick@hotmail.com" class="clickable">beausonnick@hotmail.com</a></p>
    </div>
  </div>
  <div id="right_footer">
    <div id="CV-download">
      <p>CV</p>
      <p><a href="assets/resources/Beauson-Nick_CV_dutch.pdf" target="_blank" class="clickable">Nederlands</a></p>
      <p><a href="assets/resources/Beauson-Nick_CV_english.pdf" target="_blank" class="clickable">English</a></p>
    </div>
    <div id="social-media-icons">
      <a href="https://www.linkedin.com/in/nick-beauson-8807b115a/" target="_blank"><img src="assets\images\iconfinder_Linkedin.png" alt="Linkedin-link"></a>
      <a href="https://github.com/NickBeauson-r0255890" target="_blank"><img src="assets\images\iconfinder_Github.png" alt="Github-link"></a>
      <a href="https://www.facebook.com/nick.beauson" target="_blank"><img src="assets\images\iconfinder_Facebook.png" alt="Facebook-link"></a>
    </div>
  </div>
</div>
