<div class="d-flex flex-column flex-md-row justify-content-md-around p-2" id="footer">
  <div class="d-none d-md-flex align-items-center" id="left_footer">
    <h2>Nick<span>Beauson</span></h2>
  </div>
  <div class="d-flex flex-column w-auto" id="mid_footer">
    <div class="footer_icon_text">
      <img class="m-auto" src="assets\images\iconfinder_Location.png" alt="Location">
      <p class="d-inline ml-2">Leuven, belgië</p>
    </div>
    <div class="footer_icon_text">
      <img class="m-0" src="assets\images\iconfinder_Telephone.png" alt="Phone">
      <p class="d-inline ml-2">(+32)(0)475356839</p>
    </div>
    <div class="footer_icon_text">
      <img class="m-0" src="assets\images\iconfinder_Email.png" alt="Email">
      <p class="d-inline ml-2"><a href="mailto:beausonnick@hotmail.com"
                             class="clickable">beausonnick@hotmail.com</a></p>
    </div>
  </div>
  <div id="right_footer">
    <div class="d-flex p-1 p-md-2" id="CV-download">
      <p class="m-0">CV</p>
      <p class="m-0 ml-3"><a href="assets/resources/Beauson-Nick_CV_dutch.pdf" target="_blank"
                             class="clickable">Nederlands</a></p>
      <p class="m-0 ml-2">-</p>
      <p class="m-0 ml-2"><a href="assets/resources/Beauson-Nick_CV_english.pdf" target="_blank"
                             class="clickable">English</a></p>
    </div>
    <div class="d-flex justify-content-around" id="social-media-icons">
      <a href="https://www.linkedin.com/in/nick-beauson-8807b115a/" target="_blank"><img
        src="assets\images\iconfinder_Linkedin.png" alt="Linkedin-link"></a>
      <a href="https://github.com/NickBeauson-r0255890" target="_blank"><img src="assets\images\iconfinder_Github.png"
                                                                             alt="Github-link"></a>
    </div>
  </div>
</div>
