


#footer{
  //padding: 10px;
  //position: sticky;
  //bottom: 0;
  width: 100%;
  color: #FFFFFF;
  background-color: #016d61;
}
/*
@media (min-width: 768px) {
  #footer{
    position: fixed;
  }
}

#footer, #CV-download{
  display: flex;
  justify-content: space-around;
}

#footer, p, a{
  color: #FFFFFF;
}

#left_footer{
  display: flex;
  align-items: center;
}

#social-media-icons{
  display: flex;
  justify-content: space-between;
}

#CV-download p{
  padding: 5px;
}





.footer_icon_text{
  display: flex;
  align-items: center;
  width: 100%;
}

.footer_icon_text p{
  margin-left: 8px;
}
*/

#footer img{
  height: 30px;
}

#footer span{
  color: #00ff00;
}
