.competenties_list li p{
  border-bottom: 1px solid #dee2e6;
  text-align: center;
  width: 75%;
  padding: 0.5em;
}

@media (min-width: 768px) {
  .competenties_list li p{
    width: 25%;
    margin: auto;
  }
}
